
body {
  font-family: Arial, sans-serif;
  background-color: #dfdfdf;
}
h1{
  text-align: center;
}


form {
  background-color: #f1eeee;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="text"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #181818;
  border-radius: 3px;
}

input[type="submit"] {
  background-color: #0033ff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
}


span[id$="Error"] {
  color: red;
  font-size: 12px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  padding: 10px;
  border-bottom: 1px solid #ebebeb;
  text-align: left;
  border-collapse: collapse;
}

table th {
  background-color: #ececec;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}